.CardItemID {
    width: 50%;
    border-radius: 6rem;
    background-color: orchid;
    margin: 1rem 0;
    border: 0.1rem solid black;
}

.ItemHeaderID {
    font-size: 2.5rem;
}

.ItemImgID {
    max-width: 24rem;
}

.InfoID {
    font-size: 1.6rem;
    margin: 1.2rem;
    font-family: fantasy;
}

.ItemFooterID {
    margin-bottom: 1rem;
}

.botonComprar {
    background-color: rgb(211, 146, 209);
    width: 6rem;
    height: 2.5rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 0.5rem 1.2rem;
    border: 1.5px solid black;
}

.botonComprar:active {
    background-color: rgb(224, 204, 224);
}
