.CardItem {
    background-color: orchid;
    margin: 1rem 0;
    width: 250px;
    border: 0.1rem solid black;
    border-radius: 8px;
}

.ItemImg {
    max-width: 200px;
}

.Info {
    font-family: fantasy;
    font-size: 1.2rem;
}

.Opcion {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
