* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: CocoBikerUltralight;
    src: url(LetraTitulo.ttf);
}

@font-face {
    font-family: CocoMat-oscura;
    src: url(Cocomat-oscurita.ttf);
}

@font-face {
    font-family: CocoMat-normal;
    src: url(Cocomat-normal.ttf);
}

body {
    background-image: url(./dinamico-fondo.png);
    background-size: 100%;
    font-family: CocoMat-normal;
}

.App {
    text-align: center;
}

.nav-bar {
    margin: 0 25%;
}

.titulo-dinamico {
    display: inline-flex;
    font-size: 5rem;
    font-family: CocoBikerUltralight;
    background-color: white;
    width: 22rem;
    justify-content: center;
    color: black;
    border-radius: 5rem;
}

.productos-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    font-family: CocoMat-Oscura;
    background-color: white;
    border-radius: 5rem;
}

.productos-nav-bar h3 {
    font-size: 2.4rem;
    margin: 1rem;
    color: black;
    padding: 0.6rem 1rem;
}

.buttonCat {
    display: flex;
    padding: 0.6rem 1rem;
    font-size: 1.3rem;
    margin: 1rem;
    background-color: rgb(211, 146, 209);
    border-radius: 16px;
    text-decoration: none;
    align-items: center;
}

.buttonCat:hover {
    background-color: orchid;
    font-family: fantasy;
    font-size: 1.4rem;
}

.img-cart-widget {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.2rem;
    padding: 0.8rem;
    width: 5rem;
    height: 3rem;
    background-color: rgb(211, 146, 209);
    border-radius: 5rem;
    font-family: CocoBikerUltralight;
    font-size: 1.6rem;
}
.img-cart-widget p {
    display: flex;
    align-items: center;
}

.img-cart-widget:hover {
    background-color: orchid;
}

.Number {
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 0 1.5rem;
    font-size: 1.4rem; */
}

.ListGroup {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 15%;
}

.ItemDetailContainer {
    display: flex;
    justify-content: center;
}
